.weather_app {
  display: flex;
  background-color: white;
  color: #404040;
}
.main-body_app {
  width: calc(100% - 81px);
  display: flex;
  flex-direction: column;
}
.main-content_app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 840px;
  align-content: space-between;
}
@media (max-width: 860px) {
  .main-body_app {
    width: 100%;
  }
  .main-content_app {
    max-height: unset;
  }
}
